:root {
    --vermelho:#E50914;
    --preto:#141414;
    --branco: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:var(--preto);
    color: var(--branco);
    font-family: 'Helvetica Neue',Helvetica, Arial, Sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    max-width: 1280px;
}

.principal{
    height: 100%;
    width: 100%;
}

header .container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: absolute;
}

header .container-navbar{
    min-width: 100%;
    margin-bottom: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-size: 40px;
    margin-left: 5px;
    padding-left: 15px;
}

header .navbarlink{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    
}

header .navbarlink:hover{
    color: var(--branco);
}

.jogo-principal{
    width: 100%;
    height: 550px;
    position: relative;
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.50)100%);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.jogo-principal > .bg-video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../img/2/fifa21poster.jpg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px ;
}

.jogo-principal > .bg-video > video{
    width: 100%;
}

.descricaopr{
    color:var(--branco);
    position: absolute;
    top: 50%;
    max-width: 40%;
    padding-left: 15px;
    border-radius: 15px;
}

.descricaopr h3 {
    font-size: 40px;
}

.botaoprincipal{
    position: absolute;
    top: 75%;
    padding-left: 15px;
    width: 100%;
}

.botaojogarfifa21{
    background-color: rgba(255,255,255,.50);
    color: black;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
    transition: .3s ease all;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botaojogarfifa21:hover{
    background-color: rgba(0,0,0,.50);
    color: white;
}

.botaorequisitos{
    background-color: rgba(255,255,255,.50);
    color: black;
    width: 290px;
    height: 50px;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
    transition: .3s ease all;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botaorequisitos:hover{
    background-color: rgba(0,0,0,.50);
    color: white;   
}

.replaybotao{
    background-color: rgba(255,255,255,.50);
    margin-left: 90%;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 23px;
    cursor: pointer;
    transition: .3s ease all;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.replaybotao:hover{
    background-color: rgba(0,0,0,.50);
    color: white;   
}

.carros{
    padding: 20px 15px;
}

.esportes{
    padding: 0 15px;
}